[user]
	name = Tristan Harward
	email = trisweb@gmail.com
[core]
	excludesfile = /Users/trisweb/.gitignore
	autocrlf = input
[color]
	branch = auto
	diff = auto
	status = auto
[format]
	pretty = %C(magenta bold)%h%Creset %s %C(blue)(%an, %cr)%Creset
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = current
